.Select-menu-outer {
  display: block !important;
}

.dash-table-container .dropdown {
  position: static;
}

.DateInput_input {
    height: 35px !important;
}


.dash-debug-menu__outer {
    top: auto !important;
    right: 5px !important;
    left: auto !important;
    bottom: 5px !important;
    height: 20px !important; /* Adjust height as needed */
}

.CalendarDay__today {
    background-color: green !important;
    color: white !important;
    border: none !important;
    border-radius: 50% !important;
    box-shadow: none !important;
    font-weight: bold;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin: auto;
    text-align: center;
}