.Select-menu-outer {
  display: block !important;
}

.dash-table-container .dropdown {
  position: static;
}

.DateInput_input {
    height: 35px !important;
}

.dash-debug-menu__outer {
    top: auto !important;
    right: 5px !important;
    left: auto !important;
    bottom: 5px !important;
    height: 30px !important; /* Adjust height as needed */

}
